@font-face {
  font-family:MHK_Kenjo;
  src: url(/fonts/MHK_Kenjo\ final\ 2.otf) format("opentype") ;
}

@font-face {
  font-family:Bestagrach;
  src: url(/fonts/SVN-Bestagrach.otf) format("opentype") ;
}
@font-face {
  font-family:squid;
  src: url(/fonts/Fz\ Game\ Of\ Squids\ ver201\ .ttf) format('truetype') ;
}
body {
  margin: 0;
  padding: 0;
  background-color: black!important;
  padding-bottom: 100px;
  cursor:none;
}
body{
  --color-text: #4a525e;
	--color-bg: #000000;
	--color-link: #b2366f;
	--color-link-hover: #fff;
	--color-gallery-title: #4a525e;
	--color-gallery-number: #54d7e4;
	--color-gallery-link: #fff;
	--color-gallery-link-bg: #e95499;
	--color-gallery-link-hover: #e95499;
	--color-gallery-link-bg-hover: #fff;
	--color-gallery-text: #e95499;
	--cursor-stroke: none;
	--cursor-fill: #79e2e6;
	--cursor-stroke-width: 1px;
}

#contact {
  margin-top:10vh;
  width: 100%;
  height: 100%;
}

.section-header {
  text-align: center;
  margin: 0 auto;
  padding: 40px 0;
  font-size: 120px;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 6px;
  font-family:squid !important;
  text-transform: lowercase;
	color: transparent;
	-webkit-text-stroke: 1px var(--color-gallery-text);
	text-stroke: 1px var(--color-gallery-text);
	-webkit-text-fill-color: transparent;
	text-fill-color: transparent;
	font-weight: 400;
}

.contact-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 0 auto;
  padding: 20px;
  position: relative;
  max-width: 840px;
}

/* Left contact page */
.form-horizontal {
  /*float: left;*/
  max-width: 400px;
  font-family: 'Lato';
  font-weight: 400;
}

.form-control, 
textarea {
  max-width: 400px;
  background-color: #000;
  color: #fff;
  letter-spacing: 1px;
}

.send-button {
  margin-top: 15px;
  height: 34px;
  width: 400px;
  overflow: hidden;
  transition: all .2s ease-in-out;
}

.alt-send-button {
  width: 400px;
  height: 34px;
  transition: all .2s ease-in-out;
}

.send-text {
  display: block;
  margin-top: 10px;
  font: 700 12px 'Lato', sans-serif;
  letter-spacing: 2px;
}

.alt-send-button:hover {
  transform: translate3d(0px, -29px, 0px);
}

/* Begin Right Contact Page */
.direct-contact-container {
  max-width: 400px;
}

/* Location, Phone, Email Section */
.contact-list {
  list-style-type: none;
  margin-left: -30px;
  padding-right: 20px;
}

.list-item {
  line-height: 4;
  color: #aaa;
}

.contact-text {
  font: 300 18px 'Lato', sans-serif;
  letter-spacing: 1.9px;
  color: #bbb;
}

.place {
  margin-left: 62px;
}

.phone {
  margin-left: 56px;
}

.gmail {
  margin-left: 53px;
}

.contact-text a {
  color: #bbb;
  text-decoration: none;
  transition-duration: 0.2s;
}

.contact-text a:hover {
  color: #fff;
  text-decoration: none;
}


/* Social Media Icons */
.social-media-list {
  position: relative;
  font-size: 22px;
  text-align: center;
  width: 100%;
  margin: 0 auto;
  padding: 0;
}

.social-media-list li a {
  color: #fff;
}

.social-media-list li {
  position: relative; 
  display: inline-block;
  height: 60px;
  width: 60px;
  margin: 10px 3px;
  line-height: 60px;
  border-radius: 50%;
  color: #fff;
  background-color: rgb(27,27,27);
  cursor: pointer; 
  transition: all .2s ease-in-out;
}

.social-media-list li:after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 60px;
  height: 60px;
  line-height: 60px;
  border-radius: 50%;
  opacity: 0;
  box-shadow: 0 0 0 1px #fff;
  transition: all .2s ease-in-out;
}

.social-media-list li:hover {
  background-color: #fff; 
}

.social-media-list li:hover:after {
  opacity: 1;  
  transform: scale(1.12);
  transition-timing-function: cubic-bezier(0.37,0.74,0.15,1.65);
}

.social-media-list li:hover a {
  color: #000;
}

.copyright {
  font: 200 14px 'Oswald', sans-serif;
  color: #555;
  letter-spacing: 1px;
  text-align: center;
}

hr {
  border-color: rgba(255,255,255,.6);
}

/* Begin Media Queries*/
@media screen and (max-width: 850px) {
  .contact-wrapper {
    display: flex;
    flex-direction: column;
  }
  .direct-contact-container, .form-horizontal {
    margin: 0 auto;
  }  
  
  .direct-contact-container {
    margin-top: 60px;
    max-width: 300px;
  }    
  .social-media-list li {
    height: 60px;
    width: 60px;
    line-height: 60px;
  }
  .social-media-list li:after {
    width: 60px;
    height: 60px;
    line-height: 60px;
  }
}

@media screen and (max-width: 569px) {

  .direct-contact-container, .form-wrapper {
    float: none;
    margin: 0 auto;
  }  
  .form-control, textarea {
    
    margin: 0 auto;
  }
 
  
  .name, .email, textarea {
    width: 280px;
  } 
  
  .direct-contact-container {
    margin-top: 60px;
    max-width: 280px;
  }  
  .social-media-list {
    left: 0;
  }
  .social-media-list li {
    height: 55px;
    width: 55px;
    line-height: 55px;
    font-size: 2rem;
  }
  .social-media-list li:after {
    width: 55px;
    height: 55px;
    line-height: 55px;
  }
  
}

@media screen and (max-width: 410px) {
  .send-button {
    width: 99%;
  }
}
.btn-primary {
  color: #fff;
  background-color:var(--color-gallery-text) !important;
  border-color: #2e6da4!important;
}


/* menu */

.menu-icon{
  
  cursor:pointer;
  width:50px;
  z-index: 10;
  pointer-events:visible;
}
.logo{
  
  position:fixed;
  display:flex;
  flex-direction: column;
  justify-content: space-between;
  top:0;
  left:0px;
  z-index: 99;
  color:white;
  letter-spacing: 3px;
  border-right: 1px white solid;
  height:100vh;
  width:6vw;
  text-align: center;
  align-items: center;
  padding:3vh 0;
}
.logo>a>img{
  pointer-events: visible;
  width:2vw;
  
}
.social-icon{
  pointer-events: visible;
  display:flex;
  flex-direction: column;
}
.logo>.social-icon>a{
  padding:10px;
}
.logo>.social-icon>a>i{
  font-size: 16px;
  cursor:pointer;
  color:white;

}

#dichuyenxi{
  position:absolute;
  left: 10vw;
  top:0;
  width:40vw;
}

/* cursor */
.cursor {
  pointer-events: none;
}
.cursor__ball {
  position: fixed;
  top: 0;
  left: 0;
  mix-blend-mode: difference;
  z-index: 1000;
}
.cursor__ball circle {
  fill: #f7f8fa;
}