html,
body {
  height: 100%;
  overflow: hidden;
  cursor:none
}
@font-face {
  font-family:MHK_Kenjo;
  src: url(/fonts/MHK_Kenjo\ final\ 2.otf) format("opentype") ;
}

@font-face {
  font-family:Bestagrach;
  src: url(/fonts/SVN-Bestagrach.otf) format("opentype") ;
}
@font-face {
  font-family:squid;
  src: url(/fonts/Fz\ Game\ Of\ Squids\ ver201\ .ttf) format('truetype') ;
}
*{
  padding:0;
  margin:0;
  box-sizing: border-box;

}
:root {
	--card-width: 200px;
	--card-height: 300px;

	--card-transition-duration: 800ms;
	--card-transition-easing: ease;
}
:root {
  --text-color: rgb(204, 195, 179);
  --bg-color: #0a0a09;
}

body {
  font-family: monospace;
  color: var(--text-color);
  background: var(--bg-color);
  transition: 0.3s ease-out;
  overflow-x: hidden;
  max-width: 100%;
  width: 100%;
  overscroll-behavior: none;
}

section:not(#sectionPin) {
  min-height: 100vh;
  width: 100%;
  position: relative;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-gap: 2rem;
  padding: 180px 10vw;
  margin: auto;
  place-items: center;
}

.pin-wrap>img {
 height:80vh;
 width:min-content
}

h1 {
  font-size: 5rem;
  line-height: 1;
  font-weight: 800;
  margin-bottom: 1rem;
  position: absolute;
  top: 10vw;
  left: 10vw;
  z-index: 4;
  overflow-wrap: break-word;
  hyphens: auto;
}
@media (max-width: 768px) {
  h1 {
    font-size: 16vw;
  }
}
h1 span {
  display: block;
}

h2 {
  font-size: 2rem;
  max-width: 400px;
}

.credit {
  font-family: Termina, sans-serif;
}
.credit a {
  color: var(--text-color);
}

* {
  box-sizing: border-box;
}

#sectionPin {
  height: 100vh;
  overflow: hidden;
  display: flex;
  left: 0;
  color: var(--text-color);
  background: var(--bg-color);
}

.pin-wrap {
  height: 100vh;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 50px 10vw;
}
.pin-wrap > * {
  min-width: 30vw;
  padding: 0 5vw;
}

#pscroll {
  position: absolute;
  bottom: 10vw;
  right: 10vw;
  width: 240px;
  line-height: 1.5;
  text-align: right;
}


/* menu */

.menu-icon{
  
  cursor:pointer;
  width:50px;
  z-index: 10;
  pointer-events:visible;
}
.logo{
  
  position:fixed;
  display:flex;
  flex-direction: column;
  justify-content: space-between;
  top:0;
  left:0px;
  z-index: 99;
  color:white;
  letter-spacing: 3px;
  border-right: 1px white solid;
  height:100vh;
  width:6vw;
  text-align: center;
  align-items: center;
  padding:3vh 0;
}
.logo>a>img{
  pointer-events: visible;
  width:2vw;
  
}
.social-icon{
  pointer-events: visible;
  display:flex;
  flex-direction: column;
}
.logo>.social-icon>a{
  padding:10px;
}
.logo>.social-icon>a>i{
  font-size: 16px;
  cursor:pointer;
  color:white;

}

#dichuyenxi{
  position:absolute;
  left: 10vw;
  top:0;
  width:40vw;
  font-family:squid;
  text-align: left;
  font-size: 200px !important;
}

/* cursor */
.cursor {
  pointer-events: none;
}
.cursor__ball {
  position: fixed;
  top: 0;
  left: 0;
  mix-blend-mode: difference;
  z-index: 1000;
}
.cursor__ball circle {
  fill: #f7f8fa;
}